.page {
    width: 100%;
    height: 100%;
    padding: 10px;
    margins: 10px;
}

button {
    width: 150px;
    height: 50px;
    padding: 10px;
    margins: 25px;
    font: small-caps bold 1.5em Helvetica, sans-serif;
}

input {
    width: 70%;
    position: relative;
    left: 100px;
    height: 20px;
    margins: 15px;
    padding: 10px;
}

label {
    position: fixed;
    left: 20px;
    height: 20px;
    margins: 20px;
    padding: 10px;
    font: small-caps bold 1.2em Helvetica, sans-serif;
}



ul {
    width: 90%;
    margins: 0 auto;
    padding: 10px;
    border: solid;
}

li {
    list-style: upper-latin;
    list-style-type: none;
    font: small-caps bold 1.2em Helvetica, sans-serif;
    margins: 0px;
    padding: 5px;
}

/*
ul {
    margin: 0 auto;
    padding: 0;
    display: table;
    list-style: none;
}

li {
    float: left;
}
*/